# Importing Data in Python - Part 1

## Reading a text file

The simplest way to open a text file is by using the open() function.

In [4]:
filename = 'README.md'

file = open(filename, mode='r') # 'r' is to read
text = file.read()
file.close()  # do not forget to close the file
print(text)

# Data-Science-with-Python
Notebooks with notes and examples from the "data scientist with python" carrer track at datacamp.com

You can use a context manager so you don't have to worry about closing the file. The file will be closed when the context is over

In [6]:
filename = 'README.md'

with open(filename, mode='r') as file: # 'r' is to read
    text = file.read()
print(text)

# Data-Science-with-Python
Notebooks with notes and examples from the "data scientist with python" carrer track at datacamp.com

## Magic Commands

https://ipython.readthedocs.io/en/stable/overview.html

IPython has a bunch of magic commands, including the !. If you start a line with ! you have full system access to the shell.

In [1]:
! ls

1 - Intro to Python for Data Science.ipynb
2 - Intermediate Python for Data Science.ipynb
3 - Data Science Toolbox - Part 1.ipynb
4 - Data Science Toolbox - Part 2.ipynb
5 - Importing Data in Python - Part 1.ipynb
README.md

## Flat Files

Basic text files containing records, like CSV files. By flat files we mean files that contains records (row of fields or attributes). 
Most of the time to import flat files we use NumPy (if all columns are of the same data type) or Pandas. 

### Numpy

We can use the numpy functions **loadtxt()** and **genfromtxt()**

In [ ]:
# Import numpy
import numpy as np

# Assign the filename: file
file = 'digits_header.txt'

# Load the data: data
data = np.loadtxt(file, delimiter='\t', skiprows=1, usecols=[1,3])

# Print data
print(data)

### Pandas

Allow two-dimensional labeled data structures. Columns of potentially different types, allows for manipulation, slicing, reshaping, group by, joining, merging, etc.

All we need to do is to call the **read_csv** function from the pandas library.

In [ ]:
# Import pandas as pd
import pandas as pd

# Assign the filename: file
file = 'titanic.csv'

# Read the file into a DataFrame: df
df = pd.read_csv(file)

# View the head of the DataFrame
print(df.head())

In [ ]:
# Import matplotlib.pyplot as plt
import matplotlib.pyplot as plt

# Assign filename: file
file = 'titanic_corrupt.txt'

# Import file: data
data = pd.read_csv(file, sep="\t", comment='#', na_values=['Nothing'])

# Print the head of the DataFrame
print(data.head())

# Plot 'Age' variable in a histogram
pd.DataFrame.hist(data[['Age']])
plt.xlabel('Age (years)')
plt.ylabel('count')
plt.show()

### Other file types

Other common (and a few uncommon) file types that you may come up with during your data analysis journey.

#### Pickled File

There are a number of datatypes that cannot be saved easily to flat files, such as lists and dictionaries. If you want your files to be human readable, you may want to save them as text files in a clever manner. JSONs, which you will see in a later chapter, are appropriate for Python dictionaries.

However, if you merely want to be able to import them into Python, you can serialize them. All this means is converting the object into a sequence of bytes, or a bytestream.

In this exercise, you'll import the pickle package, open a previously pickled data structure from a file and load it.

In [ ]:
# Import pickle package
import pickle

# Open pickle file and load data: d
with open('data.pkl', 'rb') as file: #rb = read and binary
    d = pickle.load(file)

# Print d
print(d)

# Print datatype of d
print(type(d))

### Excel files

When you import an excel file you import all spreadsheets within it. So you have to be able to list the sheets and load them

In [ ]:
# Import pandas
import pandas as pd

# Assign spreadsheet filename: file
file = 'battledeath.xlsx'

# Load spreadsheet: xl
xl = pd.ExcelFile(file)

# Print sheet names
print(xl.sheet_names)

In [ ]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse("2004")

# Print the head of the DataFrame df1
print(df1.head())

# Load a sheet into a DataFrame by index: df2
df2 = xl.parse(0)

# Print the head of the DataFrame df2
print(df2.head())

In [ ]:
# Parse the first sheet and rename the columns: df1
df1 = xl.parse(0, skiprows=[1], names=['Country', 'AAM due to War (2002)'])

# Print the head of the DataFrame df1
print(df1.head())

# Parse the first column of the second sheet and rename the column: df2
df2 = xl.parse(1, parse_cols=[0], skiprows=[1], names=["Country"])

# Print the head of the DataFrame df2
print(df2.head())

### SAS / Stata files

We can use Pandas to import both SAS and Stata files

In [ ]:
# Import sas7bdat package
from sas7bdat import SAS7BDAT

# Save file to a DataFrame: df_sas
with SAS7BDAT('sales.sas7bdat') as file:
    df_sas = file.to_data_frame()

# Print head of DataFrame
print(df_sas.head())

# Plot histogram of DataFrame features (pandas and pyplot already imported)
pd.DataFrame.hist(df_sas[['P']])
plt.ylabel('count')
plt.show()

In [ ]:
# Import pandas
import pandas as pd

# Load Stata file into a pandas DataFrame: df
df = pd.read_stata('disarea.dta')

# Print the head of the DataFrame df
print(df.head())

# Plot histogram of one column of the DataFrame
pd.DataFrame.hist(df[['disa10']])
plt.xlabel('Extent of disease')
plt.ylabel('Number of countries')
plt.show()

### HDF5 Files
Hierarchical data format version 5
Standard for storing large quantities of numerical data
HDF5 files can scale to exabytes

In [2]:
# Import packages
import numpy as np
import h5py

# Assign filename: file
file = 'H-H1_LOSC_4_V2-1126259446-32.hdf5'

# Load file: data
data = h5py.File(file, 'r')

# Print the datatype of the loaded file
print(type(data))

# Print the keys of the file
for key in data.keys():
    print(key)

<class 'h5py._hl.files.File'>
meta
quality
strain

In [4]:

import matplotlib.pyplot as plt
# Get the HDF5 group: group
group = data['strain']

# Check out keys of group
for key in group.keys():
    print(key)

# Set variable equal to time series data: strain
strain = data['strain']['Strain'].value

# Set number of time points to sample: num_samples
num_samples = 10000

# Set time vector
time = np.arange(0, 1, 1/num_samples)

# Plot data
plt.plot(time, strain[:num_samples])
plt.xlabel('GPS Time (s)')
plt.ylabel('strain')
plt.show()

Strain

### MATLAB

SciPy library has the functions scipy.io.loadmat() and scipy.io.savemat()

In [ ]:
# Import package
import scipy.io

# Load MATLAB file: mat
mat = scipy.io.loadmat('albeck_gene_expression.mat')

# Print the datatype type of mat
print(type(mat))

## Introduction to Relational Databases

We will use SQLAlchemy as it connects to many RDBMS.
First step is to create an engine which specifies our connection string.

In [6]:
# Import necessary module
from sqlalchemy import create_engine

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

#Save the table names to a list: table_names
table_names = engine.table_names()

# Print the table names to the shell
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

### Querying relational databases

In [11]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Open engine connection: con
con = engine.connect()

# Perform query: rs
rs = con.execute("select * from Album")

# Save results of the query to DataFrame: df
df = pd.DataFrame(rs.fetchall())

# Close connection
con.close()

# Print head of DataFrame df
print(df.head())

   0                                      1  2
0  1  For Those About To Rock We Salute You  1
1  2                      Balls to the Wall  2
2  3                      Restless and Wild  2
3  4                      Let There Be Rock  1
4  5                               Big Ones  3

In [12]:
# Open engine in context manager
# Perform query and save results to DataFrame: df
with engine.connect() as con:
    rs = con.execute('select LastName, Title from Employee')
    df = pd.DataFrame(rs.fetchmany(size=3))
    df.columns = rs.keys()

# Print the length of the DataFrame df
print(len(df))

# Print the head of the DataFrame df
print(df.head())

3
  LastName                Title
0    Adams      General Manager
1  Edwards        Sales Manager
2  Peacock  Sales Support Agent

### Querying using Pandas

In [13]:
# Import packages
from sqlalchemy import create_engine
import pandas as pd

# Create engine: engine
engine = create_engine('sqlite:///Chinook.sqlite')

# Execute query and store records in DataFrame: df
df = pd.read_sql_query('select * from Employee where EmployeeID >= 6 order by BirthDate', engine)

# Print head of DataFrame
print(df.head())

   EmployeeId  LastName FirstName       Title  ReportsTo            BirthDate  \
0           8  Callahan     Laura    IT Staff          6  1968-01-09 00:00:00
1           7      King    Robert    IT Staff          6  1970-05-29 00:00:00
2           6  Mitchell   Michael  IT Manager          1  1973-07-01 00:00:00

              HireDate                      Address        City State Country  \
0  2004-03-04 00:00:00                  923 7 ST NW  Lethbridge    AB  Canada
1  2004-01-02 00:00:00  590 Columbia Boulevard West  Lethbridge    AB  Canada
2  2003-10-17 00:00:00         5827 Bowness Road NW     Calgary    AB  Canada

  PostalCode              Phone                Fax                    Email
0    T1H 1Y8  +1 (403) 467-3351  +1 (403) 467-8772    laura@chinookcorp.com
1    T1K 5N8  +1 (403) 456-9986  +1 (403) 456-8485   robert@chinookcorp.com
2    T3B 0C5  +1 (403) 246-9887  +1 (403) 246-9899  michael@chinookcorp.com